/*
	an_style.css
	AdBlock Notify
	Copyright: (c) 2016 Themeisle, themeisle.com
	Version: 2.0.12
*/
.gygbQMroxMXy-bg {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0,0,0,0.75);
}

.gygbQMroxMXy {
	visibility: hidden;
	position: fixed;
	z-index: 101;
	top: 100px;
	right: 0;
	left: 0;
	max-width: 640px;
	margin-right: auto;
	margin-left: auto;
	background: #fff;
	-webkit-box-shadow: 0 3px 5px 2px rgba(0,0,0,0.25);
	box-shadow: 0 3px 5px 2px rgba(0,0,0,0.25);
	font-family: Arial, Helvetica, sans-serif;
}

.gygbQMroxMXy-default,
.gygbQMroxMXy-ok {
	padding: 30px 30px 15px;
}

.gygbQMroxMXy-image {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.gygbQMroxMXy-image .gygbQMroxMXy-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.gygbQMroxMXy-image .gygbQMroxMXy-right {
	float: right;
	width: 50%;
	padding: 30px;
}

.gygbQMroxMXy.small {
	width: 200px;
	margin-left: -140px;
}

.gygbQMroxMXy.medium {
	width: 400px;
	margin-left: -240px;
}

.gygbQMroxMXy.large {
	width: 600px;
	margin-left: -340px;
}

.gygbQMroxMXy.xlarge {
	width: 800px;
	margin-left: -440px;
}

.close-gygbQMroxMXy {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
	color: #bbb;
	font-size: 32px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.close-gygbQMroxMXy:hover {
	color: #252b37;
}

.gygbQMroxMXy h1 {
	margin-bottom: 15px;
	padding: 0 30px;
	color: #252b37;
	font-size: 28px;
	line-height: 1.25;
	text-align: center;
}

.gygbQMroxMXy-right h1 {
	padding: 0 30px 0 0;
	text-align: left;
}

.gygbQMroxMXy p {
	margin-bottom: 15px;
	color: #333745;
	font-size: 14px;
}

.gygbQMroxMXy p a {
	color: #ff6160;
}

.gygbQMroxMXy-right .close-modal,
.gygbQMroxMXy-footer .close-modal {
	padding: 15px !important;
	border-radius: 0 !important;
	background-color: #ff6160;
	font-size: 14px;
	letter-spacing: 2px !important;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.gygbQMroxMXy-right .close-modal:hover,
.gygbQMroxMXy-footer .close-modal:hover {
	background-color: #252b37 !important;
}

.gygbQMroxMXy-footer .grey-button-modal {
	margin-right: 15px;
	background-color: #a5a5a5;
}

.gygbQMroxMXy-footer {
	display: block;
	padding: 15px 30px;
	background-color: #eff4f7;
	text-align: right;
}

@media only screen and (max-width: 640px) {
	.gygbQMroxMXy {
		right: 5%;
		left: 5%;
		max-width: 90%;
	}

	.gygbQMroxMXy-default {
		padding: 20px;
	}

	.gygbQMroxMXy-image .gygbQMroxMXy-left {
		width: 100%;
		height: 250px;
	}

	.gygbQMroxMXy-image .gygbQMroxMXy-right {
		float: left;
		width: 100%;
		margin-top: 250px;
		padding: 20px;
	}

	.gygbQMroxMXy h1 {
		margin-bottom: 10px;
		font-size: 20px;
	}

	.gygbQMroxMXy-right h1 {
		padding: 0;
	}

	.gygbQMroxMXy p {
		margin-bottom: 10px;
	}

	.close-gygbQMroxMXy {
		color: #fcfcfc;
		background-color: #252b37;
	}

	.close-gygbQMroxMXy:hover {
		color: #252b37;
		background-color: #fcfcfc;
	}

	.gygbQMroxMXy-footer {
		padding: 15px 20px;
	}
}

@media only screen and (max-width: 480px) {
	.gygbQMroxMXy-image .gygbQMroxMXy-left {
		height: 200px;
	}

	.gygbQMroxMXy-image .gygbQMroxMXy-right {
		margin-top: 200px;
	}

	.gygbQMroxMXy-footer {
		text-align: center;
	}

	.gygbQMroxMXy-footer .close-modal {
		width: 80%;
		margin: 5px 10%;
	}
}
